<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="text-center">Contato</h1>
      <p class = "text-center lead">Crie ou edite seu contato abaixo:</p>    
      <%- include('includes/messages.ejs') %> 
      
      <!-- Conditional selection of includes -->
      <% if(contact._id) { %> 
      <form action="/contact/edit/<%= contact._id %>" method="POST" class="contactForm">
      <% } else { %>
      <form action="/contact/create" method="POST" class="contactForm">
      <% } %> 
      
      <!-- Input CSRF Token -->
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        
        <!-- Form Fields -->
        <div class="form-group">
          <label>Nome</label>
          <input value="<%= contact.name  %>" type="text" class="form-control" name="name">

          <label>Sobrenome</label>
          <input value="<%= contact.lastname  %>" type="text" class="form-control" name="lastname">

          <label>Telefone</label>
          <input value="<%= contact.phone  %>"type="tel" class="form-control" name="phone">

          <label>E-mail</label>
          <input value="<%= contact.email  %>" type="email" class="form-control" name="email">

        </div>

        <% if(contact._id) { %> 
        <button type="submit" class="btn btn-primary">Editar Contato</button>
        <% } else { %>
        <button type="submit" class="btn btn-primary">Criar Contato</button>
        <% } %> 
        
      </form>

    </div>
    <div class="col-lg-2"></div>
  </div>
</div>


<%- include('includes/footer.ejs')%>